@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap");

:root {
    --primary-color: #bb9e59;
    --primary-color-dark: #ffffff;
    --text-dark: #1e293b;
    --text-light: #64748b;
    --extra-light: #dfd7c5;
    --white: #ffffff;
    --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    max-width: 100%; /* Prevents horizontal overflow */
    overflow-x: hidden; /* Ensures no horizontal scrollbars */
    scroll-behavior: smooth;
}

.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 3rem 1rem;
}

.section__header {
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
    color: var(--text-dark);
}

.section__subheader {
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    color: var(--text-light);
    letter-spacing: 2px;
}

img {
    width: 100%;
    display: flex;
}

a {
    text-decoration: none;
}

body {
    font-family: "Work Sans", sans-serif;
}

/* Nav  */
nav {
    max-width: 100%;
    margin: auto;
    padding: 1.5rem 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.nav__logo {
    display: flex;
    align-items: center;
    gap: 5px;
}
  
.nav__logo img {
    max-width: 100px;
}
  
.nav__logo span {
    font-size: 1.25rem;
    color: var(--text-dark);
}
  
.nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.nav__links img {
    filter: brightness(0) saturate(100%) invert(18%) sepia(92%) saturate(5548%) hue-rotate(0deg) brightness(97%) contrast(107%);
}
  
.link a {
    padding: 5px;
    color: var(--text-light);
}
  
.link a:hover {
    color: var(--primary-color);
}

.dropdown {
    position: relative;
}
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    width: max-content;
    background-color: #fff; /* Adjust as needed */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid var(--primary-color);
    border-radius: 8px;
}
.dropdown-menu li {
    padding: 12px;
}
.dropdown-menu li a {
    text-decoration: none;
    color: #000; /* Adjust as needed */
}
#dropdown-toggle {
    text-decoration: none;
    color: var(--text-light);
}
#dropdown-toggle:hover {
    color: var(--primary-color);
}
  
.dropdown:hover .dropdown-menu {
    display: block;
}
  
  /* Hamburger menu hidden by default */
.hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: var(--primary-color);
}  

.close-btn {
    display: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
    text-align: right;
    padding-right: 10px;
}
  
.nav__links.active .close-btn {
    display: block;
}

/* Responsive Styles */
@media (max-width: 999px) {
    .nav__links {
        display: none;
        flex-direction: column;
        background-color: #444;
        z-index: 1;
        position: absolute;
        top: 100px;
        right: 20px;
        padding: 15px;
        border-radius: 5px;
        width: 240px;
        margin-right: 20px;
    }

    .nav__links.active {
        display: flex;
        align-items: start;
    }
    .nav__links .close-btn {
        align-self: flex-end;
    }

    .link a {
        color: var(--white);
    }

    #dropdown-toggle {
        margin-left: 4px;
        color: #fff;
    }

    .hamburger {
        display: block;
    }

    .nav__links {
        display: none;
    }
}

.faq__container {
    background-color: var(--extra-light);
}

.faq-container {
    max-width: 1000px;
    margin: 50px auto;
}

#faq {
    max-width: 100%;
}

.faq-item {
    margin-bottom: 10px;
    /* Add space between questions */
}

.faq-question {
    width: 100%;
    text-align: left;
    padding: 15px;
    background: none;
    /* Remove background color */
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #333;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: border-color 0.5s, box-shadow 0.5s;
    background-color: var(--primary-color-dark);
}

.faq-question:hover {
    border-color: var(--primary-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.faq-answer {
    display: none;
    padding: 15px;
    background: #f1f1f1;
    font-size: 14px;
    color: var(--text-light);
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: -10px;
    transition: transform 2s ease;
    /* Pull answer closer to question */
}

.faq-arrow {
    font-size: 18px;
    transition: transform 0.5s ease;
}

.faq-arrow.rotate {
    transform: rotate(90deg);
}

.contact {
    margin-top: 50px;
    margin-bottom: 50px;

    .contact-form {
        margin-top: 50px;
    }
}

.feedback {
    background-color: var(--extra-light);
    padding: 50px;
}

.feedback-form {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-top: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.form-group textarea {
    height: 100px;
    resize: none;
}

.rating {
    display: flex;
    gap: 5px;
    margin: 10px 0;
}

.rating button {
    font-size: 24px;
    background: none;
    border: none;
    color: #ccc;
    /* Default color */
    cursor: pointer;
    transition: color 0.3s;
}

.rating button.active {
    color: #f39c12;
    /* Highlighted color */
}

.submit-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.submit-btn:hover {
    background-color: #0056b3;
}

.feedback-list {
    max-width: 800px;
    margin: 20px auto 0;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: none;
    margin-bottom: 50px;
}

.feedback-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    position: relative;
}

.feedback-item:last-child {
    border-bottom: none;
}

.feedback-item .stars {
    color: #f39c12;
}

.delete-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    background: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 12px;
}

.delete-btn:hover {
    background: #c0392b;
}

/* Footer  */
.footer {
    background-color: var(--primary-color);
    padding: 1rem 1rem;
}

.footer__container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 2rem;
}

.footer__logo a {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--white);
}

.footer__col p {
    font-size: 1.25rem;
    color: var(--white);
    text-align: center;
}

.footer__socials {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.footer__socials a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    aspect-ratio: 1;
    font-size: 1.5rem;
    color: var(--white);
    background-color: #f7ebf330;
    border-radius: 100%;
}

.footer__bar {
    font-size: 0.9rem;
    color: var(--white);
    text-align: center;
}


#scrollToTopBtn {
    position: fixed;
    bottom: 2rem;
    right: 1rem;
    padding: 0.8rem 1rem;
    font-size: 1.5rem;
    background-color: #333;
    color: var(--white);
    border: none;
    border-radius: 20%;
    cursor: pointer;
    z-index: 1000;
    display: none; /* Initially hidden */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
  
#scrollToTopBtn:hover {
    background-color: #555;
}
/* Ensure the Tidio bot stays within the viewport */
.tidio-widget {
    max-width: 100%;
    position: fixed !important;
    bottom: 0 !important;
    right: 0 !important;
    z-index: 1001;
}

@media (width < 900px) {
    .nav__links {
        gap: 1rem;
    }

    .footer__container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer__socials {
        justify-content: center;
    }
}

@media (width < 750px) {
    .nav__links {
        gap: 0.5rem;
    }
}

@media (width < 600px) {
    .nav__links {
        display: none;
    }
}

.logout {
    height: 20px;
}
